<div class="history-container">
  <div *ngFor="let activity of activities" class="activity-card">
    <div class="icon-section">
      <mat-icon class="activity-icon">{{ activity.icon }}</mat-icon>
    </div>
    <div class="activity-details">
      <h3 class="activity-title">{{ activity.title }}</h3>
      <p class="activity-description">{{ activity.description }}</p>
    </div>
    <div class="activity-meta">
      <span class="activity-points" [ngClass]="activity.pointsColor">
        {{ activity.points > 0 ? '+' : '' }}{{ activity.points }}
      </span>
      <div class="activity-date">{{ activity.date }}</div>
    </div>
  </div>
</div>
